@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-headingBlack: #131517;
  --color-lightSandal: #ffe6e7;
  --color-lightPurple: #f7f5f7;
  --color-deepViolet: #4059bf;
  --color-lightViolet: #eceff8;
  --color-lightGreen: #dafffa;
  --color-darkBlue: #0d0a1d;
}
